---
layout: default
---	
	<!-- Search Box Script -->
	<script>
		$( function(){
			var availableTags = [
			<!-- Maybe switch this over to a categorical autocomplete -->
			<!-- Tags for the searchbox -->
			{% for tag in site.tags %}
				"{{ tag | first }}"{% unless forloop.last %},{% endunless %}
			{% endfor %}
			<!-- Categories for the searchbox (necessary?)-->
			,
			{% for category in site.categories %}
				"{{ category | first }}"{% unless forloop.last %},{% endunless %}
			{% endfor %}
			<!-- Post Titles for the searchbox -->
			,
			{% for post in site.posts %}
				"{{post.title}}",
			{% unless forloop.last %}{% endunless %}
			{% endfor %}
			];
			$(".searchbox").autocomplete({
				source: availableTags,
				appendTo: "#container",
				autoFocus: true
			}).keypress(function(e){
				if(e.keyCode === 13){
					window.location.assign("{{site.github.url}}/results?search="+$(this).val());
				}
			});
			
		});
	</script>
	
	<div class="main-navigation">
		Almost Done! But Still being built - expect broken things.<br><br><!--REMINDER: get rid of this line -->
		SEARCH
		<br>
		<input class="searchbox">
			<div id="container">
			</div>
		<br>
		<!--################################-->
		RECENT
		<div class="recent-post-list">
			{% for post in site.posts limit:3 %}
			<a href="{{ post.url | prepend: site.baseurl }}">
			<div class="recent-post">
				<div class="recent-post-link">{{ post.title | escape }}</div>
				<div class="recent-post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>
				<br> <!-- this br tag is strangely necessary for current styling, don't get rid of it -->
			</div>
			</a>
			{% endfor %}
		 </div>
	</div>

<!--

TODO: http://www.w3schools.com/html/html_responsive.asp because people web browse with phones
			the crazy bastards...

Tutorial Stuff

http://jmcglone.com/guides/github-pages/

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

<div class="test">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu magna et sapien tempor finibus ut quis lorem. Fusce maximus laoreet suscipit. Mauris congue tellus vel mi gravida, id volutpat nisl rutrum. Suspendisse blandit, turpis vel fringilla dapibus, dui erat porta justo, in feugiat nunc velit vel purus. Aliquam mollis scelerisque ornare. Phasellus vel suscipit lectus. Nunc massa dolor, gravida vitae maximus non, ultricies nec purus. Nunc porta vestibulum urna, ut tristique arcu semper vel. Praesent sed pharetra lectus. Aenean sit amet nisi ut est venenatis dignissim. Pellentesque commodo sapien dolor, nec tincidunt tortor bibendum quis. Aliquam euismod purus id eros posuere condimentum non in est. Duis laoreet lorem vitae fermentum elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis turpis in magna pellentesque pulvinar vitae vitae justo. Maecenas pulvinar magna id metus tempus tristique.<br>
<br>
Mauris cursus dolor quis vestibulum vehicula. Aliquam ultrices in neque non iaculis. Quisque in magna vitae felis hendrerit tempus sit amet eget enim. Etiam rhoncus id dui vel mollis. Sed aliquet libero sed dolor pellentesque, non ultrices sem accumsan. Vivamus suscipit, urna quis viverra vestibulum, diam ligula pretium urna, vitae blandit tellus nisl vel nunc. Morbi accumsan, nisi nec vestibulum molestie, elit orci aliquam velit, quis euismod tortor nibh ut erat. Nunc sodales tincidunt felis, pharetra auctor felis aliquam et. Maecenas ut consequat nisl, non tincidunt massa. Nunc ac fermentum dolor. Fusce convallis, lectus eu consequat accumsan, nibh arcu varius justo, at pharetra purus libero vel elit. Ut nec tellus eros. Nulla erat sem, convallis sit amet metus a, commodo elementum ante. Praesent a nibh et erat laoreet sagittis quis ac velit.<br>
<br>
Nunc et eros porttitor, efficitur sapien non, tincidunt ex. Proin rhoncus finibus risus, eget molestie magna congue vel. Integer eu consectetur tortor. Mauris vitae efficitur lectus, sit amet mattis nulla. Aenean nunc sem, fermentum a lorem eu, vehicula elementum orci. Maecenas congue pharetra quam, congue congue mi semper vitae. Proin eu risus sit amet felis pellentesque consequat sed non felis. Praesent vestibulum nisi placerat pellentesque tristique. Morbi blandit lorem mauris, dictum sagittis eros posuere sed. Maecenas et risus turpis. Curabitur non nisi pharetra, semper nibh tincidunt, hendrerit sem.<br>
<br>
Quisque eleifend mauris eget mattis bibendum. Curabitur pharetra, quam vitae pharetra ullamcorper, ligula risus luctus velit, ac feugiat augue lectus et turpis. Praesent auctor sodales hendrerit. Quisque tincidunt, orci vitae faucibus porta, felis ante varius metus, sed suscipit felis sem at libero. Etiam dignissim malesuada metus non gravida. Sed scelerisque arcu sed leo lacinia lobortis. Aliquam ultrices pulvinar massa ut luctus. Pellentesque mattis sollicitudin dui, sit amet consectetur libero ultrices condimentum. Donec luctus scelerisque posuere. Nulla nec rhoncus elit, ullamcorper dignissim enim.<br>
<br>
Ut erat erat, venenatis ac nibh ac, vehicula finibus nibh. Mauris ultricies egestas urna, quis volutpat turpis dignissim sed. Duis ullamcorper libero et nisi porttitor, eget posuere dolor ornare. Maecenas ac dapibus nunc, eget consectetur eros. Fusce eleifend purus vel maximus pulvinar. Aenean tempor ligula nec nisi mollis consequat. Proin tincidunt placerat cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In efficitur semper massa vitae semper. In commodo sodales sem, ut maximus orci vehicula vel. Duis nec facilisis est. Ut interdum tellus vitae neque imperdiet, et hendrerit dolor semper.<br>
</div>

-->