---
layout: default
---	
	<!-- Search Box Script -->
	<script>
		$( function(){
			var availableTags = [
			<!-- Maybe switch this over to a categorical autocomplete -->
			<!-- Tags for the searchbox -->
			{% for tag in site.tags %}
				"{{ tag | first }}"{% unless forloop.last %},{% endunless %}
			{% endfor %}
			<!-- Categories for the searchbox -->
			,
			{% for category in site.categories %}
				"{{ category | first }}"{% unless forloop.last %},{% endunless %}
			{% endfor %}
			<!-- Post Titles for the searchbox -->
			,
			{% for post in site.posts %}
				"{{post.title}}",
			{% unless forloop.last %}{% endunless %}
			{% endfor %}
			];
			$(".searchbox").autocomplete({
				source: availableTags,
				appendTo: "#container",
				autoFocus: true
			}).keypress(function(e){
				if(e.keyCode === 13){
					window.location.assign("{{site.github.url}}/results?search="+$(this).val());
				}
			});
			
		});
	</script>
	
	<div class="main-navigation">
		SEARCH
		<br>
		<input class="searchbox">
			<div id="container">
			</div>
		<br>
		<!--################################-->
		RECENT
		<div class="recent-post-list">
			{% for post in site.posts limit:3 %}
			<a href="{{ post.url | prepend: site.baseurl }}">
			<div class="recent-post">
				<div class="recent-post-link">{{ post.title | escape }}</div>
				<div class="recent-post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>
				<br> <!-- this br tag is strangely necessary for current styling, don't get rid of it -->
			</div>
			</a>
			{% endfor %}
		 </div>
		 This site is old and hasn't been touched in years. Real content is not forthcoming. 
	</div>

<!--

TODO: http://www.w3schools.com/html/html_responsive.asp because people web browse with phones
			the crazy bastards...

Tutorial Stuff

http://jmcglone.com/guides/github-pages/

-->