<html>

<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
	<a href="{{site.github.url}}/critique/">
	<div class="title-header">
	THE TERMINAL CRITIQUE
		<div class="title-byline">
		A blog about video games
		</div>
	<hr>
	</a>
	</div>
<div class="stars">Review Pending</div>
<div class="title">{{page.title}}</div>

{{content}}

	<div class="navigation">
	<hr style="color:#aaa">
	<!--################################--> 
	<a id="about" class="button" href="{{site.github.url}}/critique">HOME</a> 
	<!--################################-->
	<a id="archive" class="button" href="{{site.github.url}}/archive">ARCHIVE</a>
	</div>
	
</body>

</html>